
@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
}
 

<!DOCTYPE html>
<html lang="en">
<head>
<title> Rebin </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/css/css/util.css">
<link rel="stylesheet" type="text/css" href="~/css/css/main.css">
@*
<link rel="stylesheet"  href="~/css/bg-01.jpg">*@
<!--===============================================================================================-->
</head>
<body>
 <div class="limiter">
		@*<div class="container-login100" style="background-image: url('~/css/css/bg-01.jpg');">*@
			<div class="wrap-login100 p-t-30 p-b-50">
				<form class="login100-form validate-form p-b-33 p-t-5">
					  <h2>  ایجاد ملزومات و جداول مورد نیاز برای پرداخت الکترونیکی </h2>
                  <a href="/Collection/Paymentcreat/@ViewBag.db" class="login100-form-btn"> تایید</a>
				  
				</form>
			</div>
		@*</div>*@
	</div>
	

	<div id="dropDownSelect1"></div>
	

</body>
</html>






  
