
@{
    ViewData["Title"] = "creatPro";
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}

<h1>creatPro</h1>

<div class="row">
    <div class="col-8">
        <div class="card-title-wrap bar-success ">
            <h4 class="card-title"> ایجاد دیتابیس</h4>
        </div>
    </div>
    <div class="col-4">
        <button class="btn btn-success" onclick="location.href='creatTable'"> + </button>
    </div>
</div>